<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h2>Write New Chat!</h2>
    <div>
        <form method="POST" action="/chats">
            <input name="from" type="text" placeholder="Enter Your Name"><br><br>
            <input name="to" type="text" placeholder="Enter Receiver Name"><br><br>
            <textarea name="msg" id="" cols="30" rows="10">Write Your Massage Here!</textarea><br><br>
            <button>Send Chat</button>
        </form>
    </div>
</body>
</html>